header {
  padding: 20px 0;
}
.header {
  background: rgba($white, 0.6);
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  h1 {
    text-indent: -99999999px
  }
  svg {
    fill: $near-black;
    display: block;
  }
  .delicatesther {
    width: 150px;
    margin: 0 auto;
    display: block;
  }
  .foodconversion {
    width: 500px;
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
}
