body {
  font-family: $basefont-2;
}

h1 {
  font-size: 28px;
  font-family: $basefont;
  font-weight: 600;
  margin-bottom: 15px;
}
h2 {
  font-family: $basefont;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}
p {
  font-size: 16px;
  line-height: 24px;
  max-width: 35em;
  margin-bottom: 5px;
}

main {
  section {
    h1 {
      font-size: 24px;
    }
  }
}
